################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Navigation/.vs/Navigation/v15/ipch/AutoPCH/fefc9bbca894a20a
/Navigation/.vs/Navigation/v15
/Navigation/Debug
/.vs
